ADC_flows.json
[
    {
        "id": "8381c865.236028",
        "type": "subflow",
        "name": "Single value",
        "info": "The 'single value' subflow allows to :\r\n * Filter Data to extract only one variable after the \"processing node\" step .\r\n * Modify the message to fit with standard widgets such as gauges.\r\n * Limit the number of messages to a maximum of 10 msg per second.\r\n\r\n### **Input**\r\n\r\nThe subflow 'single value' takes in input the `msg.payload`\r\nfrom the processing output. All the messages sent by the processing node have the same structure.\r\n\r\n    \"payload\": {\r\n        \"groupname\": \"Snapshot2\",\r\n        \"variabledata\": [\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            }\r\n        ],\r\n        \"variablename\": \"int2\"\r\n      }\r\n    }\r\n\r\n### **Filter on selected variable**\r\nSeveral messages are sent by the processing node for each variable, so the first step of this 'single value' subflow is to filter and keep only messages related to the selected variable.\r\nThe 'filter variable' node will only keep messages with the right `variablename` key.\r\n\r\n### **Extract duplets table**\r\n\r\nThe received message is an Object containing {groupname, variabledata[array], variablename}.  \r\nThe array contains two variables :\r\n - `y` the value \r\n - `x` the time\r\n\r\nA single message contains multiple pairs of values extract at a regular time interval.\r\nThe time interval depends on the acquisition frequency.\r\nWith the 'change' node and the `set` property, the `msg.payload` is set to \r\n`msg.payload.variabledata`, only the data variable array is set into msg.payload.\r\n\r\n    \"payload\": {\r\n        \"variabledata\": [\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            }\r\n        ]\r\n    }\r\n\r\n### **Split duplets table**\r\n\r\nThe data variable array is split with a length of one in smaller objects by the 'split' node.\r\nEach new object contains two subvariables : `y` and `x`.\r\n\r\n    \"payload\": {\r\n        \"y\": \"9\",\r\n        \"x\": \"1567509421459\"\r\n    }\r\n\r\n\r\n### **Limit the number of messages**\r\n\r\nThe 'delay' node allows to limit the maximum number of message per second.\r\nIn the 'single value' subflow, one message is extracted per second.\r\n\r\n>_Be careful, a dashboard saturation risk exists if too many messages are received per second._\r\n\r\n### **Extract only y values**\r\n\r\nThe `msg.payload` is set to `msg.payload.y` with the `set` property. \r\nOnly `y` variable is set into msg.payload as single value.\r\n\r\n    \"payload\": { \r\n        \"y\": \"9\" \r\n    }\r\n\r\n### **Output** \r\n\r\nSome widgets such as the gauge and the text node are using the `msg.payload` property.  \r\nThe output node is linked to a gauge that allows to see the evolution \r\nof the `y` variable as a function of time.\r\n\r\n\r\n![subflow_gauge](images/subflow_gauge.png)\r\n\r\n### **Details**\r\n\r\nNote : The debug node allows to see clearly and easily the \r\nmessage at the node output.  \r\n\r\n\r\n> More details on [Node-Red][nr]\r\n[nr]: https://nodered.org/docs/user-guide/editor/workspace/subflows\r\n\r\n\r\n-------\r\n\r\n",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 60,
                "wires": [
                    {
                        "id": "3c5ffe0d.9063b2"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 780,
                "y": 140,
                "wires": [
                    {
                        "id": "66397fd3.d8111",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "varfilter",
                "type": "str",
                "value": ""
            }
        ],
        "color": "#DDAA99"
    },
    {
        "id": "3c5ffe0d.9063b2",
        "type": "switch",
        "z": "8381c865.236028",
        "name": "filter variable",
        "property": "payload.variablename",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "varfilter",
                "vt": "env"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 170,
        "y": 60,
        "wires": [
            [
                "4e5ba7a5.14dec8"
            ]
        ]
    },
    {
        "id": "4e5ba7a5.14dec8",
        "type": "change",
        "z": "8381c865.236028",
        "name": "keep only table of duplets",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.variabledata",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 60,
        "wires": [
            [
                "42bc6ed.5b20d9"
            ]
        ]
    },
    {
        "id": "42bc6ed.5b20d9",
        "type": "split",
        "z": "8381c865.236028",
        "name": "Split a table[1..n] of duplets in n msg of single duplet",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 800,
        "y": 60,
        "wires": [
            [
                "8b8ddb84.6fb208"
            ]
        ]
    },
    {
        "id": "8b8ddb84.6fb208",
        "type": "delay",
        "z": "8381c865.236028",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "10",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 200,
        "y": 140,
        "wires": [
            [
                "66397fd3.d8111"
            ]
        ]
    },
    {
        "id": "66397fd3.d8111",
        "type": "change",
        "z": "8381c865.236028",
        "name": "keep only value and delete timestamp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.y",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "3ccf8140.002bfe",
        "type": "tab",
        "label": "ADC_Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "655eb355.fc039c",
        "type": "acquisition out",
        "z": "3ccf8140.002bfe",
        "name": "myProbe_Out",
        "probeconfig": "259bad62.d36b22",
        "x": 620,
        "y": 160,
        "wires": []
    },
    {
        "id": "3b20e448.1f80cc",
        "type": "acquisition in",
        "z": "3ccf8140.002bfe",
        "name": "myProbe_In",
        "probeconfig": "259bad62.d36b22",
        "x": 210,
        "y": 320,
        "wires": [
            [
                "4341303f.4ca2d"
            ],
            []
        ]
    },
    {
        "id": "89260daf.27c5",
        "type": "variables",
        "z": "3ccf8140.002bfe",
        "groupname": "ADC_Variables",
        "accesspoint": 0,
        "execonfig": "3a7e5f3d.25a5",
        "variablelist": [],
        "triggerstartmode": "manual",
        "triggername": "ADC1_IN1_KalmanFilter.Q",
        "triggerthreshold": "30000",
        "frequency": "",
        "frequencyType": "100",
        "snapshotheader": "",
        "mode": "direct",
        "lastImportedTime": 1600515815223,
        "openStatus": true,
        "x": 420,
        "y": 160,
        "wires": [
            [
                "655eb355.fc039c"
            ]
        ]
    },
    {
        "id": "d9af9bd3.1ea0b8",
        "type": "ui_button",
        "z": "3ccf8140.002bfe",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "START Acquisition",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "start",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "89260daf.27c5"
            ]
        ]
    },
    {
        "id": "85a977cc.614aa8",
        "type": "ui_button",
        "z": "3ccf8140.002bfe",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 2,
        "width": 5,
        "height": 1,
        "passthru": true,
        "label": "STOP Acquisition",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "stop",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "89260daf.27c5"
            ]
        ]
    },
    {
        "id": "4341303f.4ca2d",
        "type": "processing",
        "z": "3ccf8140.002bfe",
        "groupname": "ADC_Variables",
        "groupid": "89260daf.27c5",
        "expressions": [],
        "statistics": [],
        "logmode": "no",
        "x": 440,
        "y": 320,
        "wires": [
            [
                "88548375.e832b",
                "9260c7fa.8cd588",
                "76f75e62.6b7c7"
            ],
            []
        ]
    },
    {
        "id": "505ccf9b.1d831",
        "type": "ui_text",
        "z": "3ccf8140.002bfe",
        "d": true,
        "group": "f9c34dde.1e2f4",
        "order": 5,
        "width": "0",
        "height": "0",
        "name": "卡尔曼滤波器过程噪声参数Q",
        "label": "卡尔曼滤波器过程噪声参数Q",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1320,
        "y": 600,
        "wires": []
    },
    {
        "id": "74578df4.c17ba4",
        "type": "ui_text",
        "z": "3ccf8140.002bfe",
        "d": true,
        "group": "f9c34dde.1e2f4",
        "order": 6,
        "width": "0",
        "height": "0",
        "name": "卡尔曼滤波器过程噪声参数R",
        "label": "卡尔曼滤波器过程噪声参数R",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1320,
        "y": 660,
        "wires": []
    },
    {
        "id": "4230186.7b794e8",
        "type": "subflow:8381c865.236028",
        "z": "3ccf8140.002bfe",
        "name": "ADC1_IN1_KalmanFilter.Q",
        "env": [
            {
                "name": "varfilter",
                "value": "ADC1_IN1_KalmanFilter.Q",
                "type": "str"
            }
        ],
        "x": 1060,
        "y": 600,
        "wires": [
            [
                "505ccf9b.1d831"
            ]
        ]
    },
    {
        "id": "43b1cfeb.6fb67",
        "type": "subflow:8381c865.236028",
        "z": "3ccf8140.002bfe",
        "name": "ADC1_IN1_KalmanFilter.R",
        "env": [
            {
                "name": "varfilter",
                "value": "ADC1_IN1_KalmanFilter.R",
                "type": "str"
            }
        ],
        "x": 1060,
        "y": 660,
        "wires": [
            [
                "74578df4.c17ba4"
            ]
        ]
    },
    {
        "id": "3446e422.ef622c",
        "type": "subflow:8381c865.236028",
        "z": "3ccf8140.002bfe",
        "name": "ADC_IN1_KF_value",
        "env": [
            {
                "name": "varfilter",
                "value": "ADC_IN1_value",
                "type": "str"
            }
        ],
        "x": 1040,
        "y": 720,
        "wires": [
            [
                "8fe87a3b.3d76c8"
            ]
        ]
    },
    {
        "id": "8fe87a3b.3d76c8",
        "type": "ui_gauge",
        "z": "3ccf8140.002bfe",
        "name": "ADC1_IN1_KF",
        "group": "f9c34dde.1e2f4",
        "order": 10,
        "width": "5",
        "height": "4",
        "gtype": "gage",
        "title": "ADC_IN1_KF_value",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "4200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1280,
        "y": 720,
        "wires": []
    },
    {
        "id": "97c92c5e.99c3",
        "type": "ui_button",
        "z": "3ccf8140.002bfe",
        "d": true,
        "name": "清除ADC采样原始值表",
        "group": "f9c34dde.1e2f4",
        "order": 3,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "清除ADC采样原始值表",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "clear",
        "x": 1020,
        "y": 200,
        "wires": [
            [
                "c3ee5752.55c908"
            ]
        ]
    },
    {
        "id": "88548375.e832b",
        "type": "switch",
        "z": "3ccf8140.002bfe",
        "name": "ADC采样原始值",
        "property": "payload.variablename",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ADC_value[0]",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ADC_value[1]",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ADC_value[2]",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ADC_value[3]",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 4,
        "x": 720,
        "y": 400,
        "wires": [
            [
                "c3ee5752.55c908",
                "1938035.b57a0fd",
                "c8f81402.411d88"
            ],
            [
                "c3ee5752.55c908",
                "dc1dc80c.f0b678"
            ],
            [
                "c3ee5752.55c908",
                "42bb1730.510808"
            ],
            [
                "c3ee5752.55c908",
                "96f540c.6a2ccc"
            ]
        ]
    },
    {
        "id": "9260c7fa.8cd588",
        "type": "switch",
        "z": "3ccf8140.002bfe",
        "name": "ADC1_IN1卡尔曼滤波器",
        "property": "payload.variablename",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ADC1_IN1_KalmanFilter.Q",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ADC1_IN1_KalmanFilter.R",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ADC_IN1_value",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 750,
        "y": 680,
        "wires": [
            [
                "4230186.7b794e8"
            ],
            [
                "43b1cfeb.6fb67"
            ],
            [
                "3446e422.ef622c",
                "c8f81402.411d88"
            ]
        ]
    },
    {
        "id": "c3ee5752.55c908",
        "type": "ui_chartst",
        "z": "3ccf8140.002bfe",
        "d": true,
        "group": "f9c34dde.1e2f4",
        "name": "ADC采样原始值",
        "order": 4,
        "width": 15,
        "height": 9,
        "chartType": "line",
        "curveType": "linear",
        "duration": "10",
        "ymin": "",
        "ymax": "",
        "x": 1020,
        "y": 260,
        "wires": []
    },
    {
        "id": "fed92e50.ab5b7",
        "type": "ui_gauge",
        "z": "3ccf8140.002bfe",
        "d": true,
        "name": "ADC1_IN2",
        "group": "f9c34dde.1e2f4",
        "order": 7,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "ADC1_IN2",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "4200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1250,
        "y": 380,
        "wires": []
    },
    {
        "id": "ab09b6c.3df1848",
        "type": "ui_gauge",
        "z": "3ccf8140.002bfe",
        "d": true,
        "name": "ADC1_IN3",
        "group": "f9c34dde.1e2f4",
        "order": 8,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "ADC1_IN3",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "4200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1250,
        "y": 440,
        "wires": []
    },
    {
        "id": "d0cb5449.746b28",
        "type": "ui_gauge",
        "z": "3ccf8140.002bfe",
        "d": true,
        "name": "ADC1_IN4",
        "group": "f9c34dde.1e2f4",
        "order": 9,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "ADC1_IN4",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "4200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1250,
        "y": 500,
        "wires": []
    },
    {
        "id": "dc1dc80c.f0b678",
        "type": "subflow:8381c865.236028",
        "z": "3ccf8140.002bfe",
        "name": "ADC_value[1]",
        "env": [
            {
                "name": "varfilter",
                "value": "ADC_value[1]",
                "type": "str"
            }
        ],
        "x": 1020,
        "y": 380,
        "wires": [
            [
                "fed92e50.ab5b7"
            ]
        ]
    },
    {
        "id": "96f540c.6a2ccc",
        "type": "subflow:8381c865.236028",
        "z": "3ccf8140.002bfe",
        "name": "ADC_value[3]",
        "env": [
            {
                "name": "varfilter",
                "value": "ADC_value[3]",
                "type": "str"
            }
        ],
        "x": 1020,
        "y": 500,
        "wires": [
            [
                "d0cb5449.746b28"
            ]
        ]
    },
    {
        "id": "42bb1730.510808",
        "type": "subflow:8381c865.236028",
        "z": "3ccf8140.002bfe",
        "name": "ADC_value[2]",
        "env": [
            {
                "name": "varfilter",
                "value": "ADC_value[2]",
                "type": "str"
            }
        ],
        "x": 1020,
        "y": 440,
        "wires": [
            [
                "ab09b6c.3df1848"
            ]
        ]
    },
    {
        "id": "59731c25.f582d4",
        "type": "ui_gauge",
        "z": "3ccf8140.002bfe",
        "name": "ADC1_IN1",
        "group": "f9c34dde.1e2f4",
        "order": 4,
        "width": "5",
        "height": "4",
        "gtype": "gage",
        "title": "ADC1_IN1",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "4200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1250,
        "y": 320,
        "wires": []
    },
    {
        "id": "1938035.b57a0fd",
        "type": "subflow:8381c865.236028",
        "z": "3ccf8140.002bfe",
        "name": "ADC_value[0]",
        "env": [
            {
                "name": "varfilter",
                "value": "ADC_value[0]",
                "type": "str"
            }
        ],
        "x": 1020,
        "y": 320,
        "wires": [
            [
                "59731c25.f582d4"
            ]
        ]
    },
    {
        "id": "a2ab7eca.6d554",
        "type": "ui_button",
        "z": "3ccf8140.002bfe",
        "name": "Clear Graph",
        "group": "f9c34dde.1e2f4",
        "order": 3,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Clear Graph",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "clear",
        "x": 1070,
        "y": 840,
        "wires": [
            [
                "c8f81402.411d88"
            ]
        ]
    },
    {
        "id": "c8f81402.411d88",
        "type": "ui_chartst",
        "z": "3ccf8140.002bfe",
        "group": "f9c34dde.1e2f4",
        "name": "ADC1_IN1 卡尔曼滤波对比图",
        "order": 4,
        "width": 15,
        "height": 9,
        "chartType": "line",
        "curveType": "linear",
        "duration": "10",
        "ymin": "",
        "ymax": "",
        "x": 1080,
        "y": 780,
        "wires": []
    },
    {
        "id": "76f75e62.6b7c7",
        "type": "switch",
        "z": "3ccf8140.002bfe",
        "name": "ADC_IN1_FaultCode",
        "property": "payload.variablename",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ADC_IN1_FaultCode",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 740,
        "y": 880,
        "wires": [
            [
                "d4e26443.e46b18"
            ]
        ]
    },
    {
        "id": "59cc08e3.b85558",
        "type": "ui_gauge",
        "z": "3ccf8140.002bfe",
        "name": "ADC_IN1_FaultCode",
        "group": "f9c34dde.1e2f4",
        "order": 4,
        "width": "5",
        "height": "4",
        "gtype": "gage",
        "title": "ADC_IN1_FaultCode",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "15",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1260,
        "y": 880,
        "wires": []
    },
    {
        "id": "d4e26443.e46b18",
        "type": "subflow:8381c865.236028",
        "z": "3ccf8140.002bfe",
        "name": "ADC_IN1_FaultCode",
        "env": [
            {
                "name": "varfilter",
                "value": "ADC_IN1_FaultCode",
                "type": "str"
            }
        ],
        "x": 1000,
        "y": 880,
        "wires": [
            [
                "59cc08e3.b85558"
            ]
        ]
    },
    {
        "id": "259bad62.d36b22",
        "type": "probe",
        "z": "",
        "probeid": "7869020119134B364A4C4E00",
        "probename": "ST-Link v2 (...C4E00)",
        "protocol": "SWD",
        "frequency": "1.8 MHz - Default",
        "probeproperty": "{\"SWD\":[\"4.6 MHz\",\"1.8 MHz - Default\",\"950 kHz\",\"400 kHz\",\"150 kHz\"],\"JTAG\":[\"18 MHz\",\"9 MHz\",\"4.5 MHz\",\"2.25 MHz\",\"1.12 MHz - Default\",\"560 kHz\",\"280 kHz\",\"140 kHz\"]}",
        "probeversion": "ST Link firmware version V2.J37",
        "connectionType": "p2p"
    },
    {
        "id": "3a7e5f3d.25a5",
        "type": "exe-config",
        "z": "",
        "name": "ADC",
        "exefile": "D:\\Code\\ADC_demo\\Debug\\ADC_demo.elf",
        "exefolder": "D:\\Code\\ADC_demo\\Debug",
        "exevariablelist": [
            {
                "address": "0x2000020c",
                "name": "__sbrk_heap_end",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000224",
                "name": "ADC1_IN1_KalmanFilter.Kg",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000218",
                "name": "ADC1_IN1_KalmanFilter.LastP",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x2000021c",
                "name": "ADC1_IN1_KalmanFilter.Now_P",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000220",
                "name": "ADC1_IN1_KalmanFilter.out",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000228",
                "name": "ADC1_IN1_KalmanFilter.Q",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x2000022c",
                "name": "ADC1_IN1_KalmanFilter.R",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x2000020a",
                "name": "ADC_IN1_FaultCode",
                "type": 1,
                "checked": true
            },
            {
                "address": "0x20000208",
                "name": "ADC_IN1_value",
                "type": 3,
                "checked": true
            },
            {
                "address": "0x200001f8",
                "name": "ADC_value[0]",
                "type": 5,
                "checked": true
            },
            {
                "address": "0x200001fc",
                "name": "ADC_value[1]",
                "type": 5,
                "checked": true
            },
            {
                "address": "0x20000200",
                "name": "ADC_value[2]",
                "type": 5,
                "checked": true
            },
            {
                "address": "0x20000204",
                "name": "ADC_value[3]",
                "type": 5,
                "checked": true
            },
            {
                "address": "0x08007a6c",
                "name": "AHBPrescTable[0]",
                "type": 1,
                "checked": false
            },
            {
                "address": "0x08007a76",
                "name": "AHBPrescTable[10]",
                "type": 1
            },
            {
                "address": "0x08007a77",
                "name": "AHBPrescTable[11]",
                "type": 1
            },
            {
                "address": "0x08007a78",
                "name": "AHBPrescTable[12]",
                "type": 1
            },
            {
                "address": "0x08007a79",
                "name": "AHBPrescTable[13]",
                "type": 1
            },
            {
                "address": "0x08007a7a",
                "name": "AHBPrescTable[14]",
                "type": 1
            },
            {
                "address": "0x08007a7b",
                "name": "AHBPrescTable[15]",
                "type": 1
            },
            {
                "address": "0x08007a6d",
                "name": "AHBPrescTable[1]",
                "type": 1
            },
            {
                "address": "0x08007a6e",
                "name": "AHBPrescTable[2]",
                "type": 1
            },
            {
                "address": "0x08007a6f",
                "name": "AHBPrescTable[3]",
                "type": 1
            },
            {
                "address": "0x08007a70",
                "name": "AHBPrescTable[4]",
                "type": 1
            },
            {
                "address": "0x08007a71",
                "name": "AHBPrescTable[5]",
                "type": 1
            },
            {
                "address": "0x08007a72",
                "name": "AHBPrescTable[6]",
                "type": 1
            },
            {
                "address": "0x08007a73",
                "name": "AHBPrescTable[7]",
                "type": 1
            },
            {
                "address": "0x08007a74",
                "name": "AHBPrescTable[8]",
                "type": 1
            },
            {
                "address": "0x08007a75",
                "name": "AHBPrescTable[9]",
                "type": 1
            },
            {
                "address": "0x08007a7c",
                "name": "APBPrescTable[0]",
                "type": 1,
                "checked": false
            },
            {
                "address": "0x08007a7d",
                "name": "APBPrescTable[1]",
                "type": 1
            },
            {
                "address": "0x08007a7e",
                "name": "APBPrescTable[2]",
                "type": 1
            },
            {
                "address": "0x08007a7f",
                "name": "APBPrescTable[3]",
                "type": 1
            },
            {
                "address": "0x08007a80",
                "name": "APBPrescTable[4]",
                "type": 1
            },
            {
                "address": "0x08007a81",
                "name": "APBPrescTable[5]",
                "type": 1
            },
            {
                "address": "0x08007a82",
                "name": "APBPrescTable[6]",
                "type": 1
            },
            {
                "address": "0x08007a83",
                "name": "APBPrescTable[7]",
                "type": 1
            },
            {
                "address": "0x20000250",
                "name": "hadc1.DMA_Handle",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x2000025c",
                "name": "hadc1.ErrorCode",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x2000023c",
                "name": "hadc1.Init.ContinuousConvMode",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000234",
                "name": "hadc1.Init.DataAlign",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000244",
                "name": "hadc1.Init.DiscontinuousConvMode",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x2000024c",
                "name": "hadc1.Init.ExternalTrigConv",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000240",
                "name": "hadc1.Init.NbrOfConversion",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000248",
                "name": "hadc1.Init.NbrOfDiscConversion",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000238",
                "name": "hadc1.Init.ScanConvMode",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000230",
                "name": "hadc1.Instance",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000254",
                "name": "hadc1.Lock",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000258",
                "name": "hadc1.State",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200002a0",
                "name": "hdma_adc1.ChannelIndex",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x2000029c",
                "name": "hdma_adc1.DmaBaseAddress",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000298",
                "name": "hdma_adc1.ErrorCode",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000264",
                "name": "hdma_adc1.Init.Direction",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000274",
                "name": "hdma_adc1.Init.MemDataAlignment",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x2000026c",
                "name": "hdma_adc1.Init.MemInc",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000278",
                "name": "hdma_adc1.Init.Mode",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000270",
                "name": "hdma_adc1.Init.PeriphDataAlignment",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000268",
                "name": "hdma_adc1.Init.PeriphInc",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x2000027c",
                "name": "hdma_adc1.Init.Priority",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000260",
                "name": "hdma_adc1.Instance",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000280",
                "name": "hdma_adc1.Lock",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000284",
                "name": "hdma_adc1.Parent",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000281",
                "name": "hdma_adc1.State",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000294",
                "name": "hdma_adc1.XferAbortCallback",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000288",
                "name": "hdma_adc1.XferCpltCallback",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000290",
                "name": "hdma_adc1.XferErrorCallback",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x2000028c",
                "name": "hdma_adc1.XferHalfCpltCallback",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200002c0",
                "name": "htim7.Channel",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x200002c4",
                "name": "htim7.hdma[0]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200002c8",
                "name": "htim7.hdma[1]",
                "type": 5
            },
            {
                "address": "0x200002cc",
                "name": "htim7.hdma[2]",
                "type": 5
            },
            {
                "address": "0x200002d0",
                "name": "htim7.hdma[3]",
                "type": 5
            },
            {
                "address": "0x200002d4",
                "name": "htim7.hdma[4]",
                "type": 5
            },
            {
                "address": "0x200002d8",
                "name": "htim7.hdma[5]",
                "type": 5
            },
            {
                "address": "0x200002dc",
                "name": "htim7.hdma[6]",
                "type": 5
            },
            {
                "address": "0x200002bc",
                "name": "htim7.Init.AutoReloadPreload",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200002b4",
                "name": "htim7.Init.ClockDivision",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200002ac",
                "name": "htim7.Init.CounterMode",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200002b0",
                "name": "htim7.Init.Period",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200002a8",
                "name": "htim7.Init.Prescaler",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200002b8",
                "name": "htim7.Init.RepetitionCounter",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200002a4",
                "name": "htim7.Instance",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200002e0",
                "name": "htim7.Lock",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x200002e1",
                "name": "htim7.State",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000320",
                "name": "huart1.ErrorCode",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x2000031d",
                "name": "huart1.gState",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000318",
                "name": "huart1.hdmarx",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000314",
                "name": "huart1.hdmatx",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200002e8",
                "name": "huart1.Init.BaudRate",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200002fc",
                "name": "huart1.Init.HwFlowCtl",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200002f8",
                "name": "huart1.Init.Mode",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000300",
                "name": "huart1.Init.OverSampling",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200002f4",
                "name": "huart1.Init.Parity",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200002f0",
                "name": "huart1.Init.StopBits",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200002ec",
                "name": "huart1.Init.WordLength",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200002e4",
                "name": "huart1.Instance",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x2000031c",
                "name": "huart1.Lock",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x2000030c",
                "name": "huart1.pRxBuffPtr",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000304",
                "name": "huart1.pTxBuffPtr",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x2000031e",
                "name": "huart1.RxState",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000312",
                "name": "huart1.RxXferCount",
                "type": 3,
                "checked": false
            },
            {
                "address": "0x20000310",
                "name": "huart1.RxXferSize",
                "type": 3,
                "checked": false
            },
            {
                "address": "0x2000030a",
                "name": "huart1.TxXferCount",
                "type": 3,
                "checked": false
            },
            {
                "address": "0x20000308",
                "name": "huart1.TxXferSize",
                "type": 3,
                "checked": false
            },
            {
                "address": "0x20000000",
                "name": "SystemCoreClock",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000324",
                "name": "uwTick",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000008",
                "name": "uwTickFreq",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000004",
                "name": "uwTickPrio",
                "type": 5,
                "checked": false
            }
        ],
        "expand": true,
        "filename": "ADC_demo.elf",
        "exeModifiedTime": 1600515771258,
        "configLastUpdate": 1600515814893
    },
    {
        "id": "f9c34dde.1e2f4",
        "type": "ui_group",
        "z": "",
        "name": "Chart",
        "tab": "17d09b07.741a55",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false
    },
    {
        "id": "17d09b07.741a55",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]